


body{
    background-color: black;
}

 ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
  } 
  
  li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    padding-left: 16vh;
    padding-right: 16vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  
  li a:hover {
    background-color: rebeccapurple;
    color:black;
  }

  #NTIlogo{
      margin-left: 100px;
  }